@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.search-box {
  text-align: right;
  margin-top: 50px;
  margin-right: 30px;
}

.search {
  width: 40%;
  height: 50px;
  border-color: #525ded;
  border-radius: 5px;
  font-size: 25px;
  padding-left: 10px;
}

.search::-webkit-input-placeholder {
  font-family: FontAwesome;
  padding-left: 50px;
  padding-top: 2px;
  color: #525ded;
}

@media only screen and (max-width: 768px) {
  
.search {
  width: 100%;
  font-size: 20px;

}

.search::-webkit-input-placeholder {
  padding-left: 0px;
}
}